.submit-btn{
    margin-top:15px;
}
.section{
    padding-bottom: 20px;
}
.analysis-container{
    padding:15px;
}
.cur-pointer{
    cursor: pointer;
}
.bg-color{
    background: #1fff47;
}
.display{
    border: 1px solid #cccccc;
    padding: 15px; 
}