<div class="container header-wrap">
    <div class="row section-1">
        <div class="col-md-3">
            <div class="menubar">
                <span><i class="fas fa-bars"></i></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="lang">
                <span>Tamil</span> | <span>Englsih</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="subscribe">
                <button type="button" class="btn btn-primary">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="row section-2">
        <div class="col-md-3">
            <div class="date">
              <span>12-December-2019</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="news-paper-title">
                <h3>The Unity India</h3>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="menu">
            <ul>
              <li>Home</li>
              <li>menu2</li>
              <li>menu3</li>
              <li>menu4</li>
              <li>menu5</li>
              <li>menu6</li>
              <li>menu7</li>
              <li>menu8</li>
              <li>menu9</li>
              <li>menu10</li>
              <li>menu11</li>
              <li>menu12</li>
              <li>menu13</li>
              <li>menu14</li>
              <li>menu15</li>
              <li>menu16</li>
              <li>menu17</li>
            </ul>
        </div>
    </div>
    <div class="row section-3">
        <div class="col-md-3">
            <div class="default-news-panel wether">
                <span>Wether</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="default-news-panel">
                <span>Share marker</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="default-news-panel">
                <span>Default news sample</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="default-news-panel">
                <span>Default news sample</span>
            </div>
        </div>
    </div>
</div>