.uni-container{
    margin-top:10px;
}
header{
	background: #465b66;
    color: #ffffff;
    padding: 5px;
	margin-bottom: 20px;
}
.lists {
    width: 100%;
}
.list_panel {
    border-bottom: 1px solid #c8c9ca;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}
.panel-body{
	background: #ffffff;
    padding: 15px;
    box-shadow: 0px 0px 3px #999999;
}
.uni-container .btn-wrapper{
    padding:30px;
    padding-left: 15px;
}
.uni-container .btn-default{
    color: #58666e !important;
    background-color: #edf1f2;
    border-color: #c7d3d6;
}
.uni-container .page-heading{
    padding:10px 15px;
}
.uni-container .border-top{
    border-top: 1px solid #dee5e7;
}
.uni-container .list-wrapper{
    padding:10px;
    background: #868686;
    color: #ffffff;
}
.uni-container .active{
    background-color:#cccccc;
}
#ng2-opd-popup-main .row div{
    width:100%;
}
.pop-1{
    width: 395px;
    margin-top: -27px;
}
.alert-success{
    display:none;
}
.errorMsg{
    margin-top:10px;
}
.show {
    display: block;
}
.deactiveRecord{
    background-color: tomato;
    color: #ffffff;
}
.activeRecord{
    background-color: #00bd00;
    color: #ffffff;
}